[submodule "lisp/emacs-application-framework"]
	path = lisp/emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework.git
[submodule "lisp/nox"]
	path = lisp/nox
	url = https://github.com/manateelazycat/nox.git
[submodule "valign"]
	path = valign
	url = https://github.com/casouri/valign.git
[submodule "lisp/valign"]
	path = lisp/valign
	url = https://github.com/casouri/valign.git
