[submodule "lisp/emacs-application-framework"]
	path = lisp/emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework.git
[submodule "lisp/nox"]
	path = lisp/nox
	url = https://github.com/manateelazycat/nox.git
